/*
 * SPDX-FileCopyrightText: 2023 XWiki CryptPad Team <contact@cryptpad.org> and contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import (reference) "./browser.less";
@import (reference) './colortheme-all.less';
@import (reference) './modal.less';
@import (reference) './variables.less';

.fileupload_main () {
    --LessLoader_require: LessLoader_currentFile();
    .modal_main();
}
& {
    /* Upload status table */
    #cp-fileupload {
        font-size: 12px;
        .modal_base();
        position: absolute;
        left: 55px;
        bottom: 100px;
        background-color: transparent;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
        box-sizing: border-box;
        z-index: 100001; //Z file upload table container: just above the file picker
        display: block !important;
        color: @cp_upload-fg;
        max-height: 180px;
        max-width: calc((100% - 55px) * 0.15);
        overflow-y: auto;
        overflow-x: hidden;
       
        @media screen and (max-width: @browser_media-medium-screen) {
            left: 1vw; right: 1vw; bottom: 1vw;
        }
        a {
            color: @cp_upload-fg !important;
        }
        .cp-fileupload-table-progress-value{
            color: @cp_upload-progress;
        }
        .cp-fileupload-header {
            display: flex;
           
            font-weight: bold;
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: color-mix(in srgb, @cryptpad_color_brand 15%, @cp_sidebar-left-bg) !important;
            font-weight: 600 !important;
            border-left: 2px solid @cryptpad_color_brand !important;
            color: @cryptpad_color_brand;
            font-size: 12px;
            min-height: 28px !important;
            .cp-fileupload-header-title {
                padding: 0.25em 0.5em;
                flex-grow: 1;
                display: flex;
                align-items: center;
                font-weight: bold;
            }
            .cp-fileupload-header-close {
                display: none;
                padding: 0.25em 0.5em;
                cursor: pointer;
                &:hover {
                    color: lighten(@cp_upload-fg, 10%);
                }
                svg {
                    margin: 0;
                }

            }
        }
        #cp-fileupload-table {
            width: 100%;
            @upload_pad_h: 0.25em;
            @upload_pad_v: 0.25em;
            table-layout: fixed;

            td {
                padding: @upload_pad_h @upload_pad_v;
                white-space: nowrap;
            }
            td:nth-child(1) {
                width:5%;
            }
            td:nth-child(2) {
                width:50%;
            }
             td:nth-child(3) {
                width:0%;
                color: transparent;
            }
            td:nth-child(4) {
                width:40%;
            }
            td:nth-child(5) {
                width:5%;
            }

            

            .cp-fileupload-table-link {
                display: flex;
                align-items: center;
                white-space: nowrap;
                max-width: 40vw;
                overflow: hidden;
                margin: 0px @upload_pad_v;
                svg {
                    margin-top: 4px;
                }
                .cp-fileupload-table-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-width: 35vw;

                @media screen and (max-width: 600px) {
                    min-width: 40vw;
                }

                }
                &[href]:hover {
                    text-decoration: none;
                    .cp-fileupload-table-name {
                        text-decoration: underline;
                    }
                }
            }
            .cp-fileupload-table-type{
                svg{
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            .cp-fileupload-table-progress {
                position: relative;
                text-align: center;
                box-sizing: border-box;
                min-width: 20vw;

            }
            .cp-fileupload-table-progress-container {
                position: relative;
            }
            .cp-fileupload-table-progressbar {
                position: absolute;
                width: 0px;
                height: 100%;
                padding: 2px;
                background-color: color-mix(in srgb, @cp_upload-progress 15%, @cp_sidebar-left-bg);
                
                z-index: -1; //Z file upload progress container
            }
            .cp-fileupload-table-cancel {
                text-align: center;
                padding: 0px;
                &:not(.success):not(.cancelled):hover {
                    background-color: rgba(0,0,0,0.1);
                }
                &.success {
                    display: none;
                }
                svg {
                    padding: @upload_pad_h @upload_pad_v;
                    .lucide-x {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}